{% set route = app.request.attributes.get('_route') %} 

{% set posMenu = ['pos','pos.show','pos.new','pos.edit','pos.activate','pos.validate'] %}
{% set tankMenu = ['tank','tank.show','tank.new','tank.edit','tank.activate','tank.validate'] %}
{% set pumpMenu = ['pump','pump.show','pump.new','pump.edit','pump.activate','pump.validate'] %}
{% set configMenu = ['config'] %} 


<nav id="adminmenu">
    <ul class="top-menu">
        <li class="{% if route!='eneo_dashboard' %}not-{% endif %}current"><a href="#{#{ path('eneo_dashboard') }#}"><span class="glyphicon glyphicon-stats block"></span> <span class="menu-title">Statistiques</span></a></li>
          <li class ="dropdown">
            <a data-toggle="dropdown"><span class="glyphicon glyphicon-tasks"></span> <span class="menu-title">Bases</span> <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('pos') }}">Points de vente</a></li>
                <li><a href="{{ path('tank') }}">Cuves</a></li>
                <li><a href="{{ path('pump') }}">Pompes</a></li>
                <li class="divider"></li>
                <li><a href="{{ path('typeproduct') }}">Types Produit</a></li>
                <li><a href="{{ path('productfamily') }}">Familles Produit</a></li>
                <li><a href="{{ path('product') }}">Produits</a></li>

            </ul>
          </li>
        <li class="not-current"><a href="#" id="trigger-shelf"><span class="glyphicon glyphicon-chevron-left block"></span>  <span class="menu-title">Collapse menu</span></a></li>
    </ul>
</nav>
