{% extends 'layout.html.twig' %}

{% block body %}
    <div class="btn-group pull-right" style="margin-top: 15px;">
        <button class="btn btn-primary"><span></span>Selectionner une action</button>
        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="{{ path('product.edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-edit"></span> modifier</a></li>
            {% if entity.active %}
                <li><a href="#" id="js-disable"><span class="glyphicon glyphicon-thumbs-down"></span> Desactiver </a></li>
            {% else %}
                <li><a href="#" id="js-activate"><span class="glyphicon glyphicon-thumbs-up"></span> Activer </a></li>
            {% endif %}
            {% if entity.valid %}
                <li><a href="#" id="js-invalidate"><span class="glyphicon glyphicon-minus-sign"></span> Invalider </a></li>
            {% else %}
                <li><a href="#" id="js-validate"><span class="glyphicon glyphicon-ok-sign"></span> Valider </a></li>
            {% endif %}
            <li><a id="btnPrint"><span class="glyphicon glyphicon-print"></span> imprimer</a></li>
            <li><a href="#" id="js-delete"><span class="glyphicon glyphicon-trash"></span> Supprimer</a></li>
        </ul>
    </div>
    <h3><span class="glyphicon glyphicon-send"></span>{{ entity.name }}{% if entity.valid %}<span class="glyphicon glyphicon-ok-sign">{% endif %}</h3>
    <div class="row">
        <div class="col-md-4">
            <div class="box">
                <header>
                    <h4><span></span>Accueil</h4>
                </header>
                <ul class="list-group">
                    <li class="list-group-item"><strong>Famille de produit:</strong>{{ entity.productfamily.id }} - {{ entity.productfamily.name }}</li>
                    <li class="list-group-item"><strong>Code:</strong>{{ entity.code }}</li>
                    <li class="list-group-item"><strong>Nom:</strong>{{ entity.name }}</li>
                    <li class="list-group-item"><strong>Description:</strong>{{ entity.description }}</li>
                    <li class="list-group-item"><strong>Créé le :</strong> {{ entity.createAt | date('d/m/Y H:i:s') }}</li>
                    <li class="list-group-item"><strong>Créé par :</strong> {{ entity.createBy is null ? "" : entity.createBy.username}}</li>
                    {% if entity.updateAt is not null %}
                        <li class="list-group-item"><strong>Modifié le :</strong> {{ entity.updateAt | date('d/m/Y H:i:s') }}</li>
                        <li class="list-group-item"><strong>Modifié par :</strong> {{ entity.updateBy  is null ? "" :entity.updateBy.username }}</li>
                    {% endif %}
                    {% if entity.valid is not null %}<li class="list-group-item"><strong>{% if entity.valid %} Validé {% else %} Invalidé {% endif %} le :</strong> {{ entity.validateAt is null ? '' : (entity.validateAt| date('d/m/Y H:i:s') )}}</li>{% endif %}
                    {% if entity.valid is not null %}<li class="list-group-item"><strong>{% if entity.valid %} Validé {% else %} Invalidé {% endif %}par :</strong> {{ entity.validateBy  is null ? "" :entity.validateBy.username }}</li>{% endif %}
                    {% if entity.active is not null %}<li class="list-group-item"><strong>{% if entity.active %} Activé {% else %} Désactivé {% endif %} le :</strong> {{ entity.activateAt is null ? '' : (entity.activateAt| date('d/m/Y H:i:s') )}}</li>{% endif %}
                    {% if entity.active is not null %}<li class="list-group-item"><strong>{% if entity.active %} Activé {% else %} Désactivé {% endif %} par :</strong> {{ entity.activateBy  is null ? "" :entity.activateBy.username }}</li>{% endif %}
                </ul>
            </div>
            <form id="deleteForm" action="{{ path('product.delete', { 'id': entity.id }) }}" method="POST">
                {{ form_widget(delete_form) }}
            </form>
            <form id="activateForm" action="{{ path('product.activate.one', { 'id': entity.id }) }}" method="POST">
                {{ form_widget(activate_form) }}
            </form>
            <form id="disableForm" action="{{ path('product.disable.one', { 'id': entity.id }) }}" method="POST">
                {{ form_widget(disable_form) }}
            </form>
            <form id="validateForm" action="{{ path('product.validate.one', { 'id': entity.id }) }}" method="POST">
                {{ form_widget(validate_form) }}
            </form>
            <form id="invalidateForm" action="{{ path('product.invalidate.one', { 'id': entity.id }) }}" method="POST">
                {{ form_widget(invalidate_form) }}
            </form>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        (function($) {
            $('#js-delete').on('click', function(){
                $('#deleteForm').submit();
                return false;
            });

            $('#js-activate').on('click', function(){
                $('#activateForm').submit();
                return false;
            });

            $('#js-disable').on('click', function(){
                $('#disableForm').submit();
                return false;
            });

            $('#js-validate').on('click', function(){
                $('#validateForm').submit();
                return false;
            });

            $('#js-invalidate').on('click', function(){
                $('#invalidateForm').submit();
                return false;
            });
        })(jQuery);
    </script>
{% endblock %}